anyio==4.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
coglet @ https://github.com/replicate/cog-runtime/releases/download/v0.1.0-alpha33/coglet-0.1.0a33-py3-none-any.whl
decorator==5.2.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
joblib==1.5.1
moviepy==2.2.1
numpy==2.3.1
packaging==25.0
pillow==11.3.0
pip==25.1.1
proglog==0.1.12
pydantic==1.10.22
python-dotenv==1.1.1
replicate==1.1.0b2
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
sniffio==1.3.1
threadpoolctl==3.6.0
tqdm==4.67.1
typing-extensions==4.14.0
urllib3==2.5.0
